.swagger-ui.swagger-container > div.swagger-ui > .loading-container { position: absolute; top: calc(50vh - 50px); left: calc(50vw - 50px); }
.swagger-ui .topbar { position: fixed; right: -5px; top: 25px; width: 200px; height: 53px; z-index: 99; background: transparent; }
.swagger-ui .topbar a.link { display: none; }
.swagger-ui .topbar-wrapper { flex-direction: row-reverse; }
.swagger-ui .topbar-wrapper h2 { position: absolute; right: 30px; top: 15px; color: #3b4151; margin: 0; font-size: 36px }
.swagger-ui .topbar-wrapper small { position: absolute; right: 30px; top: 35px; color: #999; }
.swagger-ui .topbar-wrapper label { position: absolute; right: 25px; top: 53px; }
select { margin-top: 1px !important;
  border: 1px solid #41444e !important;
  outline: none;
  border-radius: 0 !important;
  box-shadow: none !important; }

.swagger-ui .info, .swagger-ui .scheme-container .authorize { display: none; }
.swagger-ui .info .title { height: 10px }
.swagger-ui .info .title small:not(.version-stamp) { margin: 0 }

.swagger-ui .info { margin: 30px 0 50px; }
.swagger-ui .info hgroup.main { margin: 0; }
.swagger-ui .info__contact { margin-top: -10px; }

.swagger-ui .scheme-container { box-shadow: none; width: fit-content; background: transparent; padding: 0; }
.swagger-ui .scheme-container .authorize { margin-left: 0px; }

.swagger-ui > div > .wrapper { padding-right: 240px; }
.swagger-ui > div:not(.topbar) > .wrapper:last-child { margin-bottom: 60px; }

.swagger-ui .opblock-tag-section { margin-top: 10px; }
.swagger-ui .opblock-tag-section svg.arrow { margin-right: 10px; }
.swagger-ui .opblock-tag-section .expand-operation { display: none }
.swagger-ui .opblock-tag-section .operation-tag-content { margin-left: 25px; }

.swagger-ui .opblock { border-radius: 0; }
.swagger-ui .opblock-tag { border-radius: 5px; border-bottom: none; padding: 10px 0 0 0; padding-left: 25px; cursor: default; }
.swagger-ui .opblock-tag a { /* cursor: default; */ }
.swagger-ui .opblock-tag:hover { background: transparent; }
.swagger-ui .opblock-tag:before { content: '/'; }
.swagger-ui .model-box-control:focus, .swagger-ui .models-control:focus, .swagger-ui .opblock-summary-control:focus {
  outline: none;
}

.swagger-ui .opblock-nested { margin: 0; padding-left: 25px }
.swagger-ui .opblock-nested small,
.swagger-ui .opblock-tag small { color: #3b4151; flex: 2; font-family: sans-serif; font-weight: 400; font-size: 14px; }
.swagger-ui .opblock-nested a { display: none; }

.swagger-ui .opblock-summary .authorization__btn { position: absolute; left: 6px; margin-top: 4px; }
.swagger-ui .opblock-summary-description { padding-right: 10px; text-align: end; }

.swagger-ui .models { display: none; }
.swagger-ui .btn {
  background: transparent;
  border: 1px solid gray;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  color: #3b4151;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 23px;
  transition: all .3s;
}

footer {
  position: fixed;
  padding: 5px;
  font-size: 11px;
  z-index: 2;
  bottom: 0;
  right: 0;
}
