# Local vars
.env
.env.*
docker-compose.yml

# Compiled output
/dist
/node_modules
/src/branding/*.ico
/src/branding/*.png
/src/branding/*.svg
/src/branding/*.xml
/src/branding/*.webapp
/src/branding/*.webmanifest

# Tests
/coverage
/.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
nohup*

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json